$am_scale: 0.9;
$am_color: $black;

h1 {
  border-bottom: 1px dashed $dark-gray;
  padding-bottom: $global-gutter;
  margin-top: $global-gutter;
  margin-bottom: $global-gutter;
}

h4 {
  border-bottom: 4px solid rgba($primary-color, 0.5);
  padding-bottom: $global-gutter;
}


p { color: $am_color; }

h1, h2, h3, h4, h5, h6 { color: $primary-color;  }

a.am_nocolor { color: inherit; }

a:hover { text-decoration-line: underline !important; }

em { color: $primary-color; }

time {
  text-shadow: 0px 1px 1px;
}

button { text-align: center; width: 100% }

.button.large.secondary {
  border: 2px solid $secondary-color;
/*  border-right-width: 0;*/
}

img.am_calendar {
  max-width: 220px;
}

blockquote {
  font-family: Consolas, Lucida Console, Courier;
  font-weight: bold;
}

ul {
  margin-top: 10px;
  padding-left: 1em;
}

table.row.am_body {
  // formatting of all column cells
  tbody > tr > th.columns {
    // formatting of all column cells
    padding-bottom: 0;

    // formatting of individual column cell
    table > tbody > tr > th {
        width:100%;
    }
  }

  &.am_smalldivider {
    // formatting of all column cells
    tbody > tr > th.columns {
      padding-bottom: $global-gutter;
    }
  }

  &.am_nodivider {
    // formatting of all column cells
    tbody > tr > th.columns {
      padding-bottom: 0;
    }
  }
}

table.row.am_body.am_social {
  // formatting of the whole row
  background-color: rgba($primary-color, 0.1);
  border-left: 4px solid rgba($primary-color, 0.5);
  border-right: 4px solid rgba($primary-color, 0.5);

  // formatting of all column cells
  tbody > tr > th.columns {
    padding: $global-gutter $global-gutter * 2 $global-gutter * 2;

    // formatting of individual column cell
    table > tbody > tr > th {
    }
  }

  ul.social-icons {
    margin: 10px auto;
    padding: 0 $global-gutter;
    @media only screen and (max-width: #{$global-breakpoint}) {
      padding: 0;
    }
    list-style: none;
    text-align: left;
    li {
      display: inline-block;
      padding: 0 .25em;
      margin: 0;
    }
    img {
      height: 3em; max-height: 85px;
      width: 3em !important; max-width: 85px;
    }
  }
  
  .social-icons img {
    display: inline;
    height: 3em; max-height: 85px;
    width: 3em !important; max-width: 85px;
  }
}

table.am_price {
  width: 100%;
  border-top: 1px solid black;
  caption {
    text-align: left;
    font-weight: bold;
    font-size: 115%;
  }
  caption, th, td {
    padding-left: 4px;
    padding-right: 4px;
  }
  th {
    background: $light-gray;
    font-weight: bold;
    &.am_price_column1 {
      width: 70%;
    }
  }
  > tr {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  > tr:last-child {
    border-bottom: 1px solid black;
  }
}

table.am_price_size {
  caption {
    background: lightgreen;
  }
}

table.am_price_electricity {
  caption {
    background: lightblue;
  }
  tfoot {
    border-top: 1px solid black;
  }
}

table.am_price_internet {
  caption {
    background: lightsalmon;
  }
  th.am_price_internet_columnUA {
    width: 25%;
  }
  th.am_price_internet_columnWorld {
    width: 30%;
  }
  td {
    border-bottom: 1px dotted dimgrey;
    vertical-align: middle;
  }
  td.am_solid {
    border-bottom: 1px solid black;
  }
  tfoot {
    border-top: 1px solid black;
    td {
      border-bottom: 0;
    }
  }
}

table.am_price_extra {
  caption {
    background: lightseagreen;
  }
}
.image_scale {
  max-width: 600px;
  width: 600px;
}

.mr2 {
  margin-right: 1em;
}

.attention {
  color: $alert-color;
}
