$am_scale: 0.9;
$am_color: $black;

table.row.am_body {

	p,h1,h2,h3,h4,h4 a { 
		color: $am_color;
	}
	&.am_social h4{
		text-transform: lowercase; 
	}
	&.am_social {
		background-color: $body-background;
		border-left: 4px solid darkgrey;
		padding-left: $global-gutter * 2;
		margin-left: 0;
	}
	&.am_social .social-icons{
		padding-left: 1em;
		list-style: none;
		text-align: left;
		li {
			display: inline-block;
			padding-right: .25em;
			padding-left: .25em;
			margin-bottom: 0.5em;
		}
		img {
			height: 4em; max-height: 85px;
			width: 4em; max-width: 85px;
		}
	}
}

	