$am_scale: 0.75;
$am_color: $dark-gray;

th.am_footer_bye.columns {
    vertical-align: middle;
    td, th {
        vertical-align: bottom;
    }
}

th.am_header_image.columns {
  background-color: $medium-gray;
  padding-bottom: 0;
  border-bottom: 2px solid darkgrey;
	table {
		padding-bottom: 0;
    margin-bottom: $global-gutter;
	}
  img {
    margin-top: $global-gutter;
  }
}


// applies to the last table in header section
.row:last-child {
  margin-bottom: $global-gutter;
}