$am_scale: 0.9;
$am_color: $dark-gray;

table.row.am_footer_bye, table.row.am_footer_copyright {
	// formatting of all column cells
	tbody>tr>th.columns {
		vertical-align: middle;

		// formatting of individual column cell
		table>tbody>tr>th {
			vertical-align: bottom;
			
			// create style for non-colored links
			a.am_nocolor {
				text-decoration: underline;
				color: inherit;
			}
			a.am_nounderline {
				text-decoration: none;
			}
		}
	}
}

table.row.am_footer_bye {
	// formatting of the whole row
	// border-top: 1px dashed darkgrey;
	padding-bottom: $global-gutter / 2;
	
	// formatting of all column cells
	tbody>tr>th.columns {
		padding-top: $global-gutter * 2;
	}
}

table.row.am_footer_copyright {
	// formatting of the whole row
	background-color: $body-background;
	margin-bottom: 0;

	// formatting of all column cells
	tbody>tr>th.columns {
		padding-top: $global-gutter;
		padding-bottom: 1em;
		p {
			color: $am_color;
			font-size: $global-font-size * $am_scale;
			&.am_smaller {
				font-size: $global-font-size * $am_scale * $am_scale;
			}
		}
		img.am_poweredby {
			height: 30px;
			max-height: 30px;
		}
	}
}