$am_scale: 0.9;
$am_color: $dark-gray;

table.row.am_footer_bye {
	border-top: 1px dashed darkgrey;
	padding-bottom: $global-gutter / 2;
	tr th.columns {
		vertical-align: middle;
		padding-top: $global-gutter;
		td, th {
			vertical-align: bottom;
		}
	}
}

table.row.am_footer_copyright {
	background-color: $body-background;
	margin-bottom: 0;
	p,a {
		color: $am_color;
		font-size: $global-font-size*$am_scale;
	}
	tr th.columns {
		vertical-align: middle;
		padding-top: $global-gutter;
		padding-bottom: 0;
		td, th {
			vertical-align: bottom;
		}
	}
}