$am_scale: 0.75;
$am_color: $dark-gray;

th.am_header_contents.columns {
	background-color: $body-background;
	padding-bottom: 0;
  //border-bottom: 1px dashed darkgrey;
	
	h1,h2,h3,h4,h5,h6,p,td,th,ul,ol,li,a {
		color: $am_color;
    letter-spacing: 1px;  }	
	h4 {
		margin-bottom: 0; //0.33em;
		font-size: $h4-font-size*$am_scale*$am_scale;  	}	
	td, th, p {
		font-size: $global-font-size*$am_scale;	}
	ul {
		margin: 0 0 $global-gutter 0;
		padding-left: 1.3em;
    li {
			a {
				text-decoration: underline;
				&:hover {
					text-decoration: underline; } 
			}
      height: 0.85em; 
      &:last-child {
				padding-bottom: $global-gutter;
				margin-bottom: $global-gutter;
			}  
    }
	}
	table {
		padding-bottom: 0;  }
}

th.am_header_image.columns {
  background-color: $medium-gray;
  padding-bottom: 0;
  border-bottom: 2px solid darkgrey;
	table {
		padding-bottom: 0;
    margin-bottom: $global-gutter;
	}
  img {
    margin-top: $global-gutter;
  }
}

// applies to the last table in header section
.row:last-child {
  margin-bottom: $global-gutter;
}