$am_scale: 0.75;
$am_color: $dark-gray;

th.am_header_image.columns {
	background-color: $body-background;
	table {
		border-bottom: 2px solid darkgrey;
		padding-bottom: 0;
	}
}

th.am_header_contents.columns {
	background-color: $body-background;
	padding-bottom: 0;
	
	h1,h2,h3,h4,h5,h6,p,td,th,ul,ol,li,a {
		color: $am_color;  }
		
	h4 {
		margin-bottom: 0.33em;
		font-size: $h4-font-size*$am_scale*$am_scale;  	}	
	
	td, th, p {
		font-size: $global-font-size*$am_scale;
		line-height: 90%;	}
	
	a {
		&:hover {
			text-decoration: underline; } 
	}
	
	ul {
		margin: 0 0 0 0;
		padding-left: 1.3em;
	}
	
	table {
		border-bottom: 1px dashed darkgrey;
		padding-bottom: 0;  }
}