<table cellspacing="0">
	<tbody>
		<tr>
			<th>Квітень</th>
			<td></td>
			<th>Травень</th>
		</tr>
		<tr>
			<td>
				<table>
					<tbody>
						<tr>
							<td>Пн</td>
							<td>Вт</td>
							<td>Ср</td>
							<td>Чт</td>
							<td>Пт</td>
							<td>Сб</td>
							<td>Нд</td>
						</tr>
						<tr>
							<td>25</td>
							<td>26</td>
							<td>27</td>
							<td>28</td>
							<td>29</td>
							<td>30</td>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
					</tbody>
				</table>
			</td>
			<td></td>
			<td>
				<table>
					<tbody>
						<tr>
							<td>Пн</td><td>Вт</td><td>Ср</td><td>Чт</td><td>Пт</td><td>Сб</td><td>Нд</td>
						</tr>
						<tr>
							<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
							                                                                  <td>1</td>
						</tr>
						<tr>
							<td>2</td> <td>3</td> <td>4</td> <td>5</td> <td>6</td> <td>7</td> <td>8</td>
						</tr>
						<tr>
							<td>9</td><td>10</td><td>11</td><td>12</td><td>13</td><td>14</td><td>15</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>