<container>
	<row class="am_footer_copyright">
  <columns>
		<p class="am_smaller">Це повідомлення було відправлене на адресу [EMAIL] з адреси [FROMEMAIL].<br />
		<!--<p>Для пересилання цього повідомлення не використовуйте кнопку "Переслати" з Вашої поштової програми тому, що це повідомлення було зроблене спеціально для Вас. Замість цього скористайтесь <a href="[FORWARDURL]">сторінкою пересилання</a> нашої системи електронних листів.</p>-->
		Ви отримали цього листа, тому що є клієнтом компанії Старлінк, та/або тому, що підписались на інформаційні оновлення від нашої компанії. Для зміни інформації про Вас, а також для вибору інформаційних розсилок, на які Ви бажаєте підписатись, зайдіть на сторінку <a href="[PREFERENCESURL]">Вашого профілю</a>. Також Ви можете <a href="[UNSUBSCRIBEURL]">повністю відписатися</a> від всіх майбутніх повідомлень.</p>
	</columns>
	</row>
	<row class="am_footer_copyright">
		<columns large="2" small="3">
			<a href="https://www.phplist.com/poweredby?&utm_source=phplist21" title="powered by phpList version 3.2.1, © phpList ltd" alt="powered by phpList version 3.2.1, © phpList ltd"><img class="am_poweredby" src="http://starlink.ua/design/starlink/images/new/powerphplist.png" width="70" height="30"></a>
		</columns>
		<columns large="1" small="2">
			<a href="http://starlink.ua/" title="powered by Starlink.ua" alt="powered by Starlink.ua"><img class="am_poweredby" src="http://starlink.ua/design/starlink/images/new/logo-star-114x100-transparent.png" width="34" height="30"></a>
		</columns>
		<columns large="10" small="10">&nbsp;</columns>
	</row>
</container>