<row class="am_footer_copyright">
	<columns>
		<p class="am_smaller">Це повідомлення було відправлене на адресу [EMAIL] з адреси [FROMEMAIL].<br />
		Для пересилання цього повідомлення не використовуйте кнопку "Переслати" з Вашої поштової програми, замість цього скористайтесь <a href="[FORWARDURL]">сторінкою пересилання</a> нашої системи електронних листів.<br />
		Ви отримали цього листа, тому що є клієнтом компанії Старлінк, та/або тому, що підписались на інформаційні оновлення від нашої компанії. Для зміни інформації про Вас, а також для вибору розсилок, на які Ви бажаєте підписатись, зайдіть на сторінку <a href="[PREFERENCESURL]">Вашого профілю</a>. Також Ви можете <a href="[UNSUBSCRIBEURL]">повністю відписатися</a> від всіх майбутніх повідомлень.</p>
	</columns>
</row>