<container>
  <row class="am_footer_bye">
    <columns large="3" small="4">
      <a href="http://starlink.ua"><img src="http://starlink.ua/design/starlink/images/new/logo-star-114x100-transparent.png" alt="Stalink.ua graphics logo"></a> 
    </columns>
		<columns large="8" small="8" class="large-offset-0">
			<p>З повагою і вдячністю за співпрацю,<br>колектив компанії <a class="am_nocolor am_nounderline" href="http://starlink.ua">Старлінк</a></p>
		</columns>
  </row>
	<row class="am_footer_copyright">
		<columns>
			<p><em>© 2016 <a class="am_nocolor" href="http://starlink.ua">Старлінк Україна</a>, всі права застережено.</em></p>
		</columns>
	</row>
</container>