<container> 
  <row>
    <columns large="12" class="am_header_contents">
      <h4>зміст листа:</h4>
      <ul>
        <li><a href="#anchor1">підвищення цін на реєстрацію доменів</a></li>
				<li><a href="#anchor2">графік роботи у травневі свята</a></li>
        <li><a href="#anchor10">новини у соцмережах</a></li>
      </ul>
    </columns>
  </row>
  <row>
    <columns large="12" class="am_header_image">
      <center>
        <!-- <img src="http://placehold.it/564x126?text=Starlink+logo+with+slogan+564" realsrc="logo-full-426x126-transparent-slogan.png"> -->
        <img src="assets/img/logo-full-426x126-transparent-slogan.png" alt="Starlink.ua logo. Ваш безпроблемний ІТ-департамент">
      </center>
    </columns>
  </row>
</container>  