<container> 
  <row>
    <columns large="12" class="am_header_contents">
      <h4>зміст листа:</h4>
      <ul>
        <li><em><a href="#anchor1">что-то там интересное</a></em></li>
        <li><em><a href="#anchor2">и ещё что-то</a></em></li>
      </ul>
    </columns>
  </row>
  <row>
    <columns large="12" class="am_header_image">
      <center>
        <!-- <img src="http://placehold.it/564x126?text=Starlink+logo+with+slogan+564" realsrc="logo-full-426x126-transparent-slogan.png"> -->
        <img src="assets/img/logo-full-426x126-transparent-slogan.png" alt="Starlink.ua logo. Ваш безпроблемний ІТ-департамент">
      </center>
    </columns>
  </row>
</container>  