<container> 
  <row class="am_header_contents">
    <columns large="12" class="am_header_contents">
      <h4>Содержание письма:</h4>
      <ul>
        <li><a href="#anchor1">что-то там интересное</a></li>
        <li><a href="#anchor2">и ещё что-то</a></li>
      </ul>
    </columns>
  </row>
  <row>
    <columns large="12" class="am_header_image">
      <center>
        <img src="http://placehold.it/564x126?text=Starlink+logo+with+slogan+564" realsrc="logo-full-426x126-transparent-slogan.png">
      </center>
    </columns>
  </row>
</container>  