{{!-- This layout wiil be used on pages which refer it in their Front Matter block --}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <!-- <style> -->
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center>
            <!-- header start -->
            <container>
              <row>
                <columns class="am_header_contents">
                  <h4>зміст листа:</h4>
                  <ul>
                    <li><a href="#anchor1">підвищення цін на реєстрацію доменів</a></li>
            				<li><a href="#anchor2">графік роботи у травневі свята</a></li>
                    <li><a href="#anchor10">новини у соцмережах</a></li>
                  </ul>
                </columns>
              </row>
              <row>
                <columns class="am_header_image">
                  <center>
                    <img src="http://starlink.ua/design/starlink/images/new/logo-full-426x126-transparent-slogan.png" alt="Starlink.ua logo. Ваш безпроблемний ІТ-департамент">
                  </center>
                </columns>
              </row>
            </container>
            <!-- header end -->

            {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
            <!-- body start -->
			{{> body}}
			<!-- body end -->

			<!-- footer start -->
			  <container>
                <row class="am_footer_bye">
                  <columns large="3" small="4">
                    <a href="http://starlink.ua"><img src="http://starlink.ua/design/starlink/images/new/logo-star-114x100-transparent.png" alt="Starlink.ua graphics logo"></a>
                  </columns>
              		<columns large="8" small="8" class="large-offset-0">
              			<p>З повагою і вдячністю за співпрацю,<br>колектив компанії <a class="am_nocolor am_nounderline" href="http://starlink.ua">Старлінк</a></p>
              		</columns>
                </row>
              	<row class="am_footer_copyright">
              		<columns>
              			<p><em>© 2016 <a class="am_nocolor" href="http://starlink.ua">Старлінк Україна</a>, всі права застережено.</em></p>
              		</columns>
              	</row>
              </container>
			<!-- footer end -->
			<!-- footer_phplist start -->
              <container>
              	<row class="am_footer_copyright">
              		<columns>
              			<p class="am_smaller">Це повідомлення було відправлене на адресу [EMAIL] з адреси [FROMEMAIL].<br />
              			<!--<p>Для пересилання цього повідомлення не використовуйте кнопку "Переслати" з Вашої поштової програми тому, що це повідомлення було зроблене спеціально для Вас. Замість цього скористайтесь <a href="[FORWARDURL]">сторінкою пересилання</a> нашої системи електронних листів.</p>-->
              			Ви отримали цього листа, тому що є клієнтом компанії Старлінк, та/або тому, що підписались на інформаційні оновлення від нашої компанії. Для зміни інформації про Вас, а також для вибору інформаційних розсилок, на які Ви бажаєте підписатись, зайдіть на сторінку <a href="[PREFERENCESURL]">Вашого профілю</a>. Також Ви можете <a href="[UNSUBSCRIBEURL]">повністю відписатися</a> від всіх майбутніх повідомлень.</p>
              		</columns>
              	</row>
              </container>
			<!-- footer_phplist end -->
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>
