{{!-- This layout will be used on pages which refer it in their Front Matter block --}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <!-- <style> -->
  <table class="body">
    <tr><td class="center" align="center" valign="top"><center>
      <container>
        <!-- header start -->
          <row>
            <columns class="am_header_logo" large="6">
              <img class="" src="http://starlink.ua/design/starlink/images/new/logo-full-233x90-transparent.png" alt="Starlink.ua logo. Ваш безпроблемний ІТ-департамент">
            </columns>
            <columns class="am_header_logo" large="6">
              <img class="" src="http://starlink.ua/design/starlink/images/new/partner_logos/chyste-nebo-logo.png" alt="Благодійний Фонд &laquo;Чисте Небо&raquo;">
            </columns>
          </row>
        <!-- header end -->
        <!-- body start -->
          {{> body}}  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened emails are created. --}}
        <!-- body end -->
        <!-- footer start -->
          {{> footer_v2}}
        <!-- footer end -->
        <!-- footer_phplist start -->
          {{> footer_phplist_v2}}
        <!-- footer_phplist end -->
      </container>
    </center></td></tr>
  </table>
</body>
</html>
